<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiuxs.album.auth.dao.RoleDao"><!--dsName="" saasAspect=""-->
	<!-- <cache readOnly="true"/> -->
	<!-- 启用Redis缓存时去除下方注释 -->
	<!-- <cache eviction="LRU" type="com.qiuxs.tech.mybatis.cache.MybatisRedisCache" readOnly="true" /> -->
    <sql id="allFields">
		`id`,
		`code`,
		`name`
    </sql>
    
	<sql id="insertFields">
		`id`,
		`code`,
		`name`
    </sql>
	
	<insert id="create" parameterType="com.qiuxs.album.auth.entity.Role">
		insert into role (<include refid="insertFields"/>)
		values (
			#{id},
			#{code},
			#{name}
		)
	</insert>
	
	<insert id="createInBatch" parameterType="com.qiuxs.album.auth.entity.Role">
		insert into role (<include refid="insertFields"/>) values 
		<foreach collection="list" item="item" index="index" separator=",">
			(
				#{item.id},
				#{item.code},
				#{item.name}
			)
		</foreach>
	</insert>   		
	
    <sql id="whereClause">
		<if test='code != null and code != ""'>
			and `code` = #{code}			
		</if>
		<if test='name != null and name != ""'>
			and `name` = #{name}			
		</if>
	</sql>
	
	<sql id="bizKeysWhereClause">
		<if test='code != null and code != ""'>
			code = #{code}
		</if>
	</sql>
    
	<select id="get" resultType="com.qiuxs.album.auth.entity.Role" parameterType="Integer" >
		select <include refid="allFields"/> 
		  from role 
		 where id = #{id} 
	</select>
	
	<select id="getByIds" parameterType="List" resultType="com.qiuxs.album.auth.entity.Role">
		select <include refid="allFields"/> from role 
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
	
	<select id="getByBizKeys" resultType="com.qiuxs.album.auth.entity.Role" parameterType="Map" >
		select <include refid="allFields"/> 
		  from role 
		 <where>
		    <include refid="bizKeysWhereClause"/>
		</where>
	</select>
		
	<select id="getAll" resultType="com.qiuxs.album.auth.entity.Role">
		select <include refid="allFields"/> 
		from role 
	</select>

	<select id="count" resultType="long">
		select count(*) from role 
	</select>
	
	<select id="getCountByWhere" parameterType="Map" resultType="Long">
		select count(*) from role 
		<where>
		    <include refid="whereClause"/>
		</where>
	</select>

	<select id="findByWhere" parameterType="Map" resultType="com.qiuxs.album.auth.entity.Role">
		select <include refid="allFields"/>
		from role 
		<where>
		    <include refid="whereClause"/>
		</where>				
		<if test="orderBy != null">
			ORDER BY ${orderBy}
			<if test="orderByDesc != null and orderByDesc == 'true'">
				desc
			</if>
		</if>
	</select>
	
	<sql id="setComn">		
		<if test="code != null">
			`code` = #{code},
		</if>
		<if test="name != null">
			`name` = #{name}
		</if>
	</sql>
	
	<update id="update" parameterType="com.qiuxs.album.auth.entity.Role">
		 update role 
		    <set>
		    	<include refid="setComn"/>
			</set>
		  where id = #{id}
	</update>
	
	<update id="updateByMap" parameterType="Map">
		 update role 
		    <set>
		    	<include refid="setComn"/>
			</set>
		  where id = #{id}
	</update>
	
	<update id="updateByBizKeys" parameterType="com.qiuxs.album.auth.entity.Role">
		 update role 
		    <set>
		    	<include refid="setComn"/>
			</set>
		 <where>
		    <include refid="bizKeysWhereClause"/>
		</where>
	</update>		
	
	<delete id="delete">
		delete from role where id = #{id}
	</delete>
	
	<delete id="multiDelete" parameterType="List">
		delete from role
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	<delete id="deleteByWhere" parameterType="Map">
		delete from role 
		<where>
		    <include refid="whereClause"/>
		</where>
	</delete>	
	
	<delete id="deleteByBizKeys" parameterType="Map">
		delete from role 
		<where>
		    <include refid="bizKeysWhereClause"/>
		</where>
	</delete>		
</mapper>    
