/**
	相册节点
*/
.album-item {
	list-style-type: none;
	float: left;
}

/*
	相册容器
*/
.album-container {
	position: relative;
	background-color: #FFFFFF;
	width: 200px;
	height: 200px;
	margin: 30px;
	padding: 3%;
	box-shadow: 8px 10px 5px #CCCCCC;
	border-radius: 5px;
	transition: all 0.5s;
}

/*
	相册容器悬浮样式
*/
.album-container:hover {
	transform: scale(1.05);
}

/*
	相册封面
*/
.album-cover {
	width: 100%;
	height: 100%;
	background-color: #CCCCCC;
	position: relative;
}

/*
	相册描述文字
*/
.album-desc {
	background-color: #000000;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	color: #FFFFFF;
	padding: 2px 10px;
	opacity: 0.7;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius:2px;
}