/* 主背景色 */

.album-main-bg-color {
    background-color: #F5F5DC;
}

/*
	注册页背景色
*/

.album-register-bg-color {}

/*
	必填标记
*/

.sm-must-input {
    color: red;
}

.sm-jcaptcha-container {
    border: 1px #CCCCCC solid;
}

.right-back-btn {
	float: right;
	font-size: 20px;
	color: #87CEFA;
	border:1px solid #87CEFA;
	border-radius: 5px;
	padding: 4px;
	line-height: 24px;
	letter-spacing:2px;
	cursor: pointer;
}

.right-back-btn:hover {
	border:1px solid #FFFFFF;
}