<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiuxs.album.biz.dao.AlbumDao"><!--dsName="" saasAspect=""-->
	<!-- <cache readOnly="true"/> -->
	<!-- 启用Redis缓存时去除下方注释 -->
	<!-- <cache eviction="LRU" type="com.qiuxs.tech.mybatis.cache.MybatisRedisCache" readOnly="true" /> -->
    <sql id="allFields">
		`id`,
		`name`,
		`only_self` as onlySelf,
		`desc`,
		`status`,
		`cover`,
		`created_by` as createdBy,
		`created_date` as createdDate,
		`updated_by` as updatedBy,
		`updated_date` as updatedDate
    </sql>
    
	<sql id="insertFields">
		`id`,
		`name`,
		`only_self`,
		`desc`,
		`status`,
		`cover`,
		`created_by`,
		`created_date`,
		`updated_by`,
		`updated_date`
    </sql>
	
	<insert id="create" parameterType="com.qiuxs.album.biz.entity.Album">
		insert into album (<include refid="insertFields"/>)
		values (
			#{id},
			#{name},
			#{onlySelf},
			#{desc},
			#{status},
			#{cover},
			#{createdBy},
			#{createdDate},
			#{updatedBy},
			#{updatedDate}
		)
	</insert>
	
	<insert id="createInBatch" parameterType="com.qiuxs.album.biz.entity.Album">
		insert into album (<include refid="insertFields"/>) values 
		<foreach collection="list" item="item" index="index" separator=",">
			(
				#{item.id},
				#{item.name},
				#{item.onlySelf},
				#{item.desc},
				#{item.status},
				#{item.cover},
				#{item.createdBy},
				#{item.createdDate},
				#{item.updatedBy},
				#{item.updatedDate}
			)
		</foreach>
	</insert>   		
	
    <sql id="whereClause">
		<if test='name != null and name != ""'>
			and `name` = #{name}			
		</if>
		<if test="onlySelf != null">
			and `only_self` = #{onlySelf}			
		</if>
		<if test='desc != null and desc != ""'>
			and `desc` = #{desc}			
		</if>
		<if test="status != null">
			and `status` = #{status}			
		</if>
		<if test="cover != null">
			and `cover` = #{cover}
		</if>
		<if test="createdBy != null">
			and `created_by` = #{createdBy}			
		</if>
		<if test="createdDate != null">
			and `created_date` &gt;= #{createdDate}
			<!--and `created_date` &lt;= #{createdDate_fan1} -->
		</if>
		<if test="updatedBy != null">
			and `updated_by` = #{updatedBy}			
		</if>
		<if test="updatedDate != null">
			and `updated_date` = #{updatedDate}			
		</if>
	</sql>
    
	<select id="get" resultType="com.qiuxs.album.biz.entity.Album" parameterType="Long" >
		select <include refid="allFields"/> 
		  from album 
		 where id = #{id} 
	</select>
	
	<select id="getByIds" parameterType="List" resultType="com.qiuxs.album.biz.entity.Album">
		select <include refid="allFields"/> from album 
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
		
	<select id="getAll" resultType="com.qiuxs.album.biz.entity.Album">
		select <include refid="allFields"/> 
		from album 
	</select>

	<select id="count" resultType="long">
		select count(*) from album 
	</select>
	
	<select id="getCountByWhere" parameterType="Map" resultType="Long">
		select count(*) from album 
		<where>
		    <include refid="whereClause"/>
		</where>
	</select>

	<select id="findByWhere" parameterType="Map" resultType="com.qiuxs.album.biz.entity.Album">
		select <include refid="allFields"/>
		from album 
		<where>
		    <include refid="whereClause"/>
		</where>				
		<if test="orderBy != null">
			ORDER BY ${orderBy}
			<if test="orderByDesc != null and orderByDesc == 'true'">
				desc
			</if>
		</if>
	</select>
	
	<sql id="setComn">		
		<if test="name != null">
			`name` = #{name},
		</if>
		<if test="onlySelf != null">
			`only_self` = #{onlySelf},
		</if>
		<if test="desc != null">
			`desc` = #{desc},
		</if>
		<if test="status != null">
			`status` = #{status},
		</if>
		<if test="cover != null">
			`cover` = #{cover},
		</if>
		<if test="createdBy != null">
			`created_by` = #{createdBy},
		</if>
		<if test="createdDate != null">
			`created_date` = #{createdDate},
		</if>
		<if test="updatedBy != null">
			`updated_by` = #{updatedBy},
		</if>
		<if test="updatedDate != null">
			`updated_date` = #{updatedDate}
		</if>
	</sql>
	
	<update id="update" parameterType="com.qiuxs.album.biz.entity.Album">
		 update album 
		    <set>
		    	<include refid="setComn"/>
			</set>
		  where id = #{id}
	</update>
	
	<update id="updateByMap" parameterType="Map">
		 update album 
		    <set>
		    	<include refid="setComn"/>
			</set>
		  where id = #{id}
	</update>
	
	
	<delete id="delete">
		delete from album where id = #{id}
	</delete>
	
	<delete id="multiDelete" parameterType="List">
		delete from album
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	<delete id="deleteByWhere" parameterType="Map">
		delete from album 
		<where>
		    <include refid="whereClause"/>
		</where>
	</delete>	
	
</mapper>    
